<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GWP</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'impactos_atmosfericos/css/estilo-pocp.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#new">New</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </header>
  <div class="container">
    <header>Global Warming Potential (GWP)</header>
    <form action="{% url 'crearGwp' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name = "id" value="{{ covs.id }}">
      <div class="form-first">
        <div class="details-compound">
          <span class="title">Details Compound</span>
          <div class="fields">
            <div class="input-field">
              <label for="">Compound</label>
              <input type="text" name="compuesto" id="" value="{{covs.compuesto}}">
            </div>

            <div class="input-field">
              <label for="">Formula</label>
              <input type="text" name="formula" id="" value="{{covs.formula}}">
            </div>

            <div class="input-field">
              <label for="">Molar Mass (g/mL)</label>
              <input type="text" name="pesoMolecular" id="" value="{{covs.pesoMolecular}}">
            </div>

            <div class="input-field">
              <label for="">Concentration (molecule/cm3)</label>
              <input type="text" name="concentration" id="" value="{{covs.concentration}}">
            </div>

            <div class="input-field">
              <label for="">Optical Path (cm)</label>
              <input type="text" name="opticalPath" value="{{covs.opticalPath}}">
          </div>

            <div class="input-field">
              <label for="">Rate constant with OH radical</label>
              <input type="text" name="constantekOh" id="" value="{{covs.constantekOh}}">
            </div>

            <div class="input-field">
              <label for="">Rate constant with Cl atoms</label>
              <input type="text" name="constantekCl" id="" value="{{covs.constantekCl}}">
            </div>

            <div class="input-field">
              <label for="">Rate constant with O3 molecules</label>
              <input type="text" name="constantekO3" id="" value="{{covs.constantekO3}}">
            </div>

            <div class="input-field">
              <label for="">Rate constant with NO3 radicals</label>
              <input type="text" name="constantekNo3" id="" value="{{covs.constantekNo3}}">
            </div>

            <div class="form-group mt-3">
              <label for="file">Select a CSV file</label> <input type="file"
                  name="csvfile" class="form-control-file" required>
          </div>

          </div>

        </div>
        

      </div>
      <br>

      <button type="submit" class="btn btn-success">Calculate</button>
      <a href="{% url 'inicio' %}" class="btn btn-info">Back</a>

    </form>
  </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <div id="conten">
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'error' %}
    <script>
      Swal.fire({
        title: 'Error',
        text: '{{m}}',
        icon: 'error',
      })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</body>

</html>